<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input type="text" v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input type="text" v-model="height"> cm
    <p>Wskaźnik BMI: </p>
    <p>{{ bmiCounter }}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        weight: '',
        height: '',
      },
      computed: {
        bmiCounter() {
          const weight2 = parseFloat(this.weight);
          const height2 = parseFloat(this.height)/100;
          const BMI = (weight2/(height2*height2)).toFixed(2);
          return BMI;
        }
      }
    });
  </script>
</body>
</html>
