<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>Nazwa książki:</p>
    <input type="text" v-model="bookName">
    <p>Autor:</p>
    <input type="text" v-model="author">
    <button @click="save">Zapisz</button>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        bookName: '',
        author: ''
      },
      methods: {
          save() {
              console.log(`${this.bookName}\n${this.author}`)
          }
      }
    });
  </script>
</body>
</html>
